name: Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, macos-15-intel]
    steps:
      - uses: actions/checkout@v6

      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          environments: dev
          manifest-path: pyproject.toml
          cache: true
          frozen: true

      # TODO: create separate action for running workflows
      - name: Run Pytest
        run: |
          pixi run test

      - name: Run Basic EPT Workflow
        if: always()
        run: |
          pixi run test-example-ept

      - name: Run Parallelized DSM Workflow
        if: always()
        run: |
          pixi run test-example-dsmfilter

      - name: Upload test artifacts
        if: always() && matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v6
        with:
          name: workflow-test-outputs
          path: /tmp/lidar-tools-test/
