name: Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main


jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # NOTE: macos-latest is ARM, macOS-13 is Intel.
        os: [ubuntu-latest, macos-latest, macos-13]
    steps:
      - uses: actions/checkout@v5

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          environments: dev
          manifest-path: pyproject.toml
          cache: true
          frozen: true

      - name: Run Pytest
        run: |
          pixi run test
